<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
</head>

<body>
    <section class="header" id="header">
        <img id="back" src="vector.png" alt="">
        <div class="navbar" id="navbar">
            <div class="left_navbar">Your Logo</div>
            <div class="right_navbar">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Servies</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#"><button id="nav_btn">Contact</button></a></li>
                </ul>
            </div>
        </div>
        <div class="banner_area">
            <div class="images_area">
                <img id="girl" src="girl.png" alt="">
                <img id="ellip" src="ellipse.png" alt="">
                <img id="ellip2" src="ellipse.png" alt="">
                <img id="ellip3" src="ellipse1.png" alt="">

            </div>
            <div class="text_area">
                <div class="child_text_area">
                    <div class="heading">
                        <h1>A revolutionary <br> way to educate.</h1>
                    </div>
                    <div class="para">
                        <p >
                            “Online education is electronically supported learning that
                            relies on the Internet for teacher/student interaction and
                            the distribution of class materials.”
                        </p>
                    </div>
                    <div><button class="child_text_btn">Get Started</button>
                    </div>
                    <img id="text_ellip" src="ellipse.png" alt="">
                    <img id="text_ellip2" src="ellipse1.png" alt="">
                </div>
            </div>
        </div>
        <div class="features">
            <div class="features_data">
                <div class="features_data_img">
                    <img src="icon_clock.png" alt="">
                </div>
                <h3>50,000+</h3>
                <p>hour content</p>
            </div>
            <div class="features_data">
                <div class="features_data_img">
                    <img src="icon_people.png" alt="">
                </div>
                <h3>10,000+</h3>
                <p>students</p>
            </div>
            <div class="features_data">
                <div class="features_data_img">
                    <img src="icon_globe.png" alt="">
                </div>
                <h3>10+</h3>
                <p>Cities</p>
            </div>
        </div>
    </section>
    <!-- First section ended -->
    <!-- ----------------------------------------------- -->
    <!-- Second section related to courses are going to start now -->
    <section class="courses">
        <div class="popular_courses">
            <h1>Our Popular Courses.</h1>
            <p>Now it's time to join the great organization in your area <br>become a great man and be sucessful.</p>
            <div id="course_line"></div>
        </div>
        <div class="get_courses">
            <div class="course1 get_course">
                <div class="course_img">
                    <a href=""><img src="web.png" alt=""></a>
                </div>
                <div class="course_data_heading">
                    <h2>Web development</h2>
                </div>
                <div class="course_data_para">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eum.</p>

                </div>
                <div class="course_det">
                    <div class="course_det_left">
                        <img src="video.png" alt="">
                        <p>12x Lessons</p>
                    </div>
                    <div class="course_det_right">
                        <p>4.9</p>
                    </div>
                </div>
            </div>
            <div class="course2 get_course">
                <div class="course_img">
                    <a href=""><img src="creative.png" alt=""></a>
                </div>
                <div class="course_data_heading">
                    <h2>Creative Writing</h2>
                </div>
                <div class="course_data_para">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eum.</p>
                </div>
                <div class="course_det">
                    <div class="course_det_left">
                        <img src="video.png" alt="">
                        <p>12x Lessons</p>
                    </div>
                    <div class="course_det_right">
                        <p>4.9</p>
                    </div>
                </div>
            </div>
            <div class="course3 get_course">
                <div class="course_img">
                    <a href=""><img src="design.png" alt=""></a>
                </div>
                <div class="course_data_heading">
                    <h2>Graphic Design</h2>
                </div>
                <div class="course_data_para">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eum.</p>
                </div>
                <div class="course_det">
                    <div class="course_det_left">
                        <img src="video.png" alt="">
                        <p>12x Lessons</p>
                    </div>
                    <div class="course_det_right">
                        <p>4.9</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ------------------------------------------------- -->
    <!-- courses section end -->

    <!-- Now going to start benefits section -->
    <section class="benefits">
        <div class="benefits_left">
            <img src="st1.png" alt="" class="st1 st">
            <img src="st2.png" alt="" class="st2 st">
            <img src="st3.png" alt="" class="st3 st">
            <img src="st4.png" alt="" class="st4 st">
            <img src="st5.png" alt="" class="st5 st">
            <img src="st6.png" alt="" class="st6 st">
            <img src="st7.png" alt="" class="st7 st">
            <img src="ellipse1.png" alt="" id="benefits_left_elp">
        </div>
        <div class="benefits_right">
            <div class="benefits_right_data">
                <div class="benefits_right_head">
                    <h1>Benefits from our online learning</h1>
                    <div id="benefits_line"></div>
                </div>
                <div class="benefits_right_det">
                    <div class="benefits_right_det_data benefits_right_det1">
                        <div class="benefits_data_img">
                            <img src="course.svg" alt="">
                        </div>
                        <div class="benefits_data_txt">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, modi nisi. Vitae quisquam
                                mollitia cum dolorem?</p>
                        </div>
                    </div>
                    <div class="benefits_right_det_data benefits_right_det2">
                        <div class="benefits_data_img">
                            <img src="degree.svg" alt="">
                        </div>
                        <div class="benefits_data_txt">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, modi nisi. Vitae quisqua
                            </p>
                        </div>
                    </div>
                    <div class="benefits_right_det_data benefits_right_det2">
                        <div class="benefits_data_img">
                            <img src="person.svg" alt="">
                        </div>
                        <div class="benefits_data_txt">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <img src="ellipse1.png" alt="" id="benefits_right_elp">

                </div>
            </div>
        </div>
    </section>
    <section class="instructor">
        <div class="instructor_left">
            <div class="instructor_left_data">
                <div class="instructor_left_heading">
                    <h1>Become an Instructor</h1>
                    <div id="instructor_line"></div>
                </div>
                <div class="instructor_left_para">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quos veritatis
                        reprehenderit aut non quas magni commodi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit, suscipit.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore reprehenderit commodi eius Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="instructor_left_btn">
                    <button><span></span><a href=""> Click here to Apply !</a></button>
                    <button><span></span><a href=""> Already teacher !</a></button>
                </div>
            </div>
        </div>
        <div class="instructor_right">
            <div class="instructor_right_img">
                <img src="girl2.png" alt="">
                <div class="instructor_circle"></div>
                <!-- <img src="ellipse3.jpeg" alt="" id="instructor_ellip"> -->
            </div>
        </div>
    </section>

    <!-- Now we are going to start 5th section -->
    <!-- Testimonial section. -->
    <section class="testimonials">
        <div class="testi_head">
            <h1>Students Testimonials</h1>
            <div id="testi_line"></div>
            <div class="testi_para">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum officiis cupiditate eos.</p>
            </div>
        </div>
        <div class="testi_com">
            <div class="testi_com_img"><img src="st9.png" alt=""></div>
            <div class="testi_com_txt">
                <h4>James</h4>
                <div id="testi_line_st"></div>
                <p style="width: 400px;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, dolorem. Lorem ipsum dolor sit.</p>
            </div>
        </div>
        <div class="testi_com testi_com1">
            <div class="testi_com_img"><img src="st10.png" alt=""></div>
            <div class="testi_com_txt">
                <h4>Anderson</h4>
                <div id="testi_line_st"></div>
                <p style="width: 400px;">Lorem, ipsum dolor sit amet consectetur adipisicing  elit. Praesentium, dolorem. Lorem ipsum dolor sit.</p>
            </div>
        </div>
        <div class="testi_com testi_com2">
            <div class="testi_com_img"><img src="st2.png" alt=""></div>
            <div class="testi_com_txt">
                <h4>Ayesha</h4>
                <div id="testi_line_st"></div>
                <p style="width: 400px;">Lorem, ipsum dolor sit amet consectetur adipisicing <br> elit. Praesentium, dolorem. Lorem ipsum dolor sit.</p>
            </div>
        </div>
        <div class="testi_img">
            <div class="testi_img1">
                <img src="st8.png" alt="">
            </div>
            <div class="testi_img2">
                <img src="st9.png" alt="">
            </div>
            <div class="testi_img3">
                <img src="st13.png" alt="">
            </div>
            <div class="testi_img4">
                <img src="st14.png" alt="">
            </div>
            <img src="ellipse1.png" id="testi_ellip" alt="">    
            <img src="ellipse1.png" id="testi_ellip2" alt="">    
        </div>
    </section>

    <!-- ---------------------------------------------------------- -->
    <!-- Now we are going to start 6th and last section of this page. -->
    <!-- Footer section. -->

    <section class="footer">
        <div class="div">
            <img id="footer_back" src="vector.png" alt="">
            <div class="form">
                <h1>Student Registration Form</h1>
                <div id="form_line"></div>
                <form action="/register" method="post">
                    <div class="form_item">
                        <label for="name">Name:</label> <br>
                        <input type="text" id="name" name="name" placeholder="Enter your name.">
                    </div>
                    <div class="form_item">
                        <label for="fname">Fater Name:</label> <br>
                        <input type="text" id="fname" name="fname" placeholder="Enter your Fater name.">
                    </div>
                    <div class="form_item">
                        <label for="course">Course:</label> <br>
                        <select id="course" name="course" class="form_select">
                            <option value="webdevelopment">Web Development</option>
                            <option value="graphicdesigner">Graphic Designing</option>
                            <option value="creativewriting">Creative Writng</option>
                        </select>
                    </div>
                    <div class="form_item">
                        <label for="email">Email:</label> <br>
                        <input type="email" id="email" name="email" placeholder="Enter your email.">
                    </div>
                    <div class="form_item">
                        <label for="password">Password:</label> <br>
                        <input type="password" id="password" name="password" placeholder="Enter your password.">
                    </div>
                    <div class="form_item form_btn">
                        <button type="submit"><span></span> Sign Up</button>
                        <!-- <button ><span></span> Log In</button> -->
                    </div>
                    <div class="already_reg">
                        <p><a style="color: white; text-decoration: none; margin-left: 10px;" href="/login">Already Registered??</a></p>
                    </div>
                    <div class="ellip_form">
                        <img src="ellipse.png" id="form_ellip" alt="">
                        <img src="ellipse.png" id="form_ellip2" alt="">
                    </div>
                    <div class="data">
                        <% if(data!=""){%>
                            <p style="color: rgb(27, 201, 61); font-size: 18px;"><%= locals.data%></p>
                        <%}%>
                    </div>
                </form>
            <div/>    
        </div>
    </section>
</body>

</html>